$gradient-start-color: #FFCA00;
$gradient-end-color: #FFA900;
$border-color: #FF9D00;

@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1472558960_0758517.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1472558960_0758517.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1472558960_0758517.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1472558960_0758517.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1472558960_0758517.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
}

body, div, ul, ol, li, p, h1, h2, h3, h4, h5, button, input, select, textarea {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #222;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    word-wrap: break-word;
}

/* header-start */

$nav-link-color: #f2f4f5;

input[type="search"]{-webkit-appearance:none;}

.xb-top {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
    border-bottom: 1px solid #FF7000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;

    @at-root {
        .xb-top-inner {
            width: 960px;
            margin: 0 auto;
            height: 100%;

            .xb-top-logo {
                background-image: url("../images/head-logo.png");
                background-position: 0 8px;
                background-repeat: no-repeat;
                width: 60px;
                height: 100%;
                float: left;
                text-indent: -9999px;
            }

            a {
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
                color: $nav-link-color;
                text-align: center;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }

            @at-root {
                .xb-top-search {
                    float: left;
                    margin: 7px 0 0 20px;
                    position: relative;

                    form {
                        position: relative;
                        width: 367px;

                        .xb-top-search-input {
                            background-color: #e1eaf2;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
                            box-sizing: border-box;
                            color: #49525c;
                            font-size: 14px;
                            line-height: 17px;
                            outline: 0 none;
                            padding: 7px 50px 7px 10px;
                            transition: all 0.2s ease-in-out 0s;
                            width: 100%;

                            &:focus {
                                background-color: #fff;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 15px rgba(255, 255, 255, 0.3);;
                            }
                        }

                        .xb-top-search-button {
                            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
                            border: 1px solid $border-color;
                            border-bottom-right-radius: 4px;
                            border-top-right-radius: 4px;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
                            box-sizing: border-box;
                            cursor: pointer;
                            height: 100%;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 40px;

                            .xb-top-search-button-icon {
                                color: $nav-link-color;
                                font-size: 20px;
                                font-weight: bold;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                .xb-top-nav {
                    float: left;
                    position: relative;

                    @at-root {
                        .xb-top-nav-ul {
                            margin-left: 25px;

                            .xb-top-nav-ul-li {
                                float: left;
                                position: relative;

                                .xb-top-nav-link {
                                    display: block;
                                    width: 60px;
                                    height: 45px;
                                    line-height: 45px;

                                    .notice-number {
                                        position: absolute;
                                        left: 38px;
                                        top: 5px;
                                        z-index: 5;

                                        visibility: visible;

                                        height: 16px;
                                        width: 16px;

                                        line-height: 16px;
                                        color: #fff;
                                        font-size: 11px;
                                        font-weight: 700;
                                        text-align: center;
                                        text-indent: 0;

                                        background-color: #bf1031;
                                        border: 1px solid #b11331;
                                        border-radius: 16px;
                                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
                                    }
                                }
                            }
                        }
                    }
                }

                .xb-top-profile {
                    float: right;
                    position: relative;
                    margin-right: 15px;
                    min-width: 120px;
                    z-index: 10;

                    .xb-top-userinfo {
                        display: block;
                        background-color: transparent;
                        border-top: 0 none;
                        color: #fff;
                        height: 45px;
                        line-height: 45px;
                        text-decoration: none;
                        text-align: center;

                        //防止用户名溢出
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        .avatar {
                            background-color: transparent;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
                            height: 25px;
                            width: 25px;
                            position: absolute;
                            left: 10px;
                            top: 9px;
                        }

                        &:hover {
                            background-color: $gradient-end-color;
                            box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
                        }
                    }
                }

                .xb-top-add-task {
                    background-color: #FFBD00;
                    border: 1px solid $border-color;
                    border-radius: 4px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
                    cursor: pointer;
                    float: right;
                    height: 32px;
                    margin: 7px 20px 0 0;
                    text-align: center;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);

                    width: 80px;
                    color: #fff;

                    &:hover {
                        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
}

/* header-end */

/* backtotop-start */
.xb-backtotop {
    position: fixed;
    left: 0px;
    bottom: 150px;
    opacity: 1;
    display: none;

    background-color: #f2f4f5;
    border: 1px solid #49525c;
    border-radius: 4px;

    width: 40px;
    height: 40px;
    cursor: pointer;


    &:hover {
        background-color: $gradient-start-color;
        border: 1px solid $border-color;
        i {
            color: #fff;
        }
    }
    i {
        color: #222;
        font-size: 30px;
        text-align: center;
        position: relative;
        top: 3px;
        left: 5px;
        user-select: none;
    }
}
/* backtotop-end */

/* add-task-modal-start*/

.modal-bg {
    display: none;
    width: 2560px;
    height: 1000px;
    opacity: 0;
    background-color: #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
}


.add-task-modal {
    display: none;
    z-index: 99;
    width: 550px;
    height: 550px;
    position: fixed;
    left: 50%;
    top: -550px;
    margin-left: -275px;

    background-color: #fff;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow: 0 0 80px 0 rgba(0,0,0,0.4);

    @at-root {
        .modal-title {
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
            border: 1px solid $border-color;
            border-radius: 6px 6px 0 0;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
            line-height: 14px;
            padding: 10px 15px;
            position: relative;
            color: #fff;

            .modal-title-text {
                font-size: 15px;
                font-weight: bold;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            }

            .modal-close {
                float: right;
                font-size: 20px;
                margin-top: -2px;
                cursor: pointer;
            }
        }

        .modal-content {
            margin-top: 10px;
            padding-left: 15px;

            .add-task-form {
                display: block;

                label {
                    font-size: 15px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                    display: block;
                    margin: 8px 5px;
                }

                input,select,textarea {
                    padding: 4px 0 4px 5px;
                    border-radius: 4px;
                    border: 1px solid #999;
                    box-sizing: border-box;
                    color: #49525c;
                    font-size: 12px;
                    line-height: 16px;
                    margin-left: 5px;
                    margin-right: 5px;

                    &:focus{
                        box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
                    }
                }

                input[type=number]{
                    -webkit-appearance: none !important;
                    -moz-appearance:textfield;
                    width: 50px;
                }

                button {
                    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
                    border: 1px solid $border-color;
                    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
                    color: #fff !important;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
                    border-radius: 4px;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-size: 14px;
                    padding: 4px 10px;
                    text-align: center;
                    float: right;
                    margin-top: 10px;
                    margin-right: 30px;
                }

                #taskTitle {
                    width: 500px;
                }
                #taskContent {
                    width: 500px;
                    height: 70px;
                    resize: none;
                }

            }
        }
    }
}

/* add-task-modal-end */

/* footer-start */

$footer-text-color: #999;

.xb-footer {
    margin: 0 auto;
    padding: 10px 80px;
    width: 800px;
    height: 30px;

    border-top: 1px solid $footer-text-color;
    color: $footer-text-color;

    line-height: 20px;
    font-size: 16px;

    span {
        float: left;
    }
    .xb-footer-links {
        float: right;
        a {
            color: $footer-text-color;
            display: inline-block;
            margin-left: 20px;
        }
    }
}

/* footer-end */