$gradient-start-color: #FFCA00;
$gradient-end-color: #FFA900;
$border-color: #FF9D00;
$dark-text-color: #222;
$light-text-color: #49525c;

.xb-message-notice-nav {
    width: 280px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -465px;
    font-size: 14px;
    text-align: center;
    color: $light-text-color;
    border: 1px solid #ccc;
    border-right: none;
    box-shadow: 1px 1px 2px #ccc;
    .xb-message-notice-btn {
        float: left;
        cursor: pointer;
        float: left;
        line-height: 40px;
        height: 40px;
        width: 10em;
        box-sizing: border-box;
        opacity: 0.7;
        transition: opacity 0.15s ease 0s, color 0.15s ease 0s,border-bottom-width 0.15s ease 0s, color 0.15s ease 0s;
        color: inherit;
        border-right: 1px solid #ccc;
        i {
            margin-right: 5px;
        }
        &:hover {
            opacity: 1;
        }
        &.active {
            opacity: 1;
            border-bottom: 3px solid $light-text-color;
        }
    }
}

.xb-message {
    width: 960px;
    margin: 120px auto 10px;
    min-height: 600px;
    padding-left: 30px;
    display: none;
    
    &.selected {
        display: block;
    }

    .xb-send-message {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
        border: 1px solid $border-color;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
        color: #fff !important;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 4px 10px;
        text-align: center;
        display: block;
    }
    @at-root {
        .xb-message-item {
            width: 700px;
            padding: 20px 80px 20px 80px;
            margin-top: 20px;
            border-top: 1px solid #ccc;
        }

        .xb-message-sender-nickname {
            color: $light-text-color;
        }

        .xb-message-content {
            margin: 10px 0;
            text-indent: 2em;
        }

        .xb-message-time {
            font-size: 12px;
            color: $light-text-color;
        }
        
        .answer {
            color: #0d88ff;
            font-size: 12px;
            cursor: pointer;
            float: right;
            line-height: 20px;
            
            &:hover i{
                opacity: 1;
                font-size: 20px;
            }
            
            i {
                opacity: 0;
                position: relative;
                transition: opacity 0.3s ease-in-out 0s,font-size 0.3s ease-in-out 0s;
            }
        }
    }
}

.xb-notice {
	width: 960px;
    margin: 120px auto 10px;
    min-height: 600px;
    padding-left: 30px;
    display: none;
    
    &.selected {
        display: block;
    }
    @at-root {
        .xb-notice-item {
            display: block;
            width: 700px;
            padding: 20px 80px 20px 80px;
            margin-top: 20px;
            border-top: 1px solid #ccc;
        }
        
        .xb-notice-title {
	        color: $dark-text-color;
            font-weight: bold;
        }

        .xb-notice-content {
            margin: 10px 0;
            text-indent: 2em;
        }

        .xb-notice-time {
            font-size: 12px;
            color: $light-text-color;
        }
        
    }
}
.send-message-modal {
    display: none;
    z-index: 99;
    width: 400px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: -350px;
    margin-left: -200px;

    background-color: #fff;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow: 0 0 80px 0 rgba(0,0,0,0.4);

    @at-root {
        .modal-title {
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
            border: 1px solid $border-color;
            border-radius: 6px 6px 0 0;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
            line-height: 14px;
            padding: 10px 15px;
            position: relative;
            color: #fff;

            .modal-title-text {
                font-size: 15px;
                font-weight: bold;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            }

            .modal-close {
                float: right;
                font-size: 20px;
                margin-top: -2px;
                cursor: pointer;
            }
        }

        .modal-content {
            margin-top: 10px;
            padding-left: 15px;

            .send-message-form {
                display: block;

                label {
                    font-size: 15px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                    display: block;
                    margin: 8px 5px;
                }

                input,textarea {
                    padding: 4px 0 4px 5px;
                    border-radius: 4px;
                    border: 1px solid #999;
                    box-sizing: border-box;
                    color: $light-text-color;
                    font-size: 12px;
                    line-height: 16px;
                    margin-left: 5px;
                    width: 320px;

                    &:focus{
                        box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
                    }
                }

                textarea {
                    height: 100px;
                    resize: none;
                }

                button {
                    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $gradient-start-color, $gradient-end-color) repeat scroll 0 0;
                    border: 1px solid $border-color;
                    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
                    color: #fff !important;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
                    border-radius: 4px;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-size: 14px;
                    padding: 4px 10px;
                    text-align: center;
                    display: block;
                    margin-top: 10px;
                    margin-left: 5px;
                }

            }
        }
    }
}