$gradient-start-color: #FFCA00;
$gradient-end-color: #FFA900;
$border-color: #FF9D00;
$title-color: #222;
$text-color: #49525c;
.xb-main {
    display: block;
    width: 960px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 129px;
    margin: 50px auto 10px;
    position: relative;
    border-left: 1px solid #49525c;
    border-right: 1px solid #49525c;

    @at-root {
        .xb-task-list {

            .task {
                width: 700px;
                margin-top: 40px;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                padding: 10px;
                
                &:hover {
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
                }
                a:hover {
                    text-decoration: none;
                }
                .task-title {
                    color: #333;
                    font-size: 18px;
                    padding: 8px 0 7px 7px;
                }
                .task-content {
                    width: 100%;
                    color: #49525c;
                    padding-bottom: 8px;
                    text-indent: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}