/* line 6, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
.xb-user {
  box-sizing: border-box;
  margin: 80px auto 20px;
  width: 960px;
  min-height: 600px; }
  /* line 11, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user .xb-user-info {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }
  /* line 17, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-info-item {
    padding-left: 20px;
    display: block;
    height: 40px;
    color: #49525c;
    text-align: left;
    border-bottom: 1px solid #ccc; }
    /* line 24, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item:last-child {
      border-bottom: none; }
    /* line 27, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .xb-user-info-label {
      width: 100px;
      float: left;
      height: 40px;
      line-height: 40px;
      border-right: 1px solid #ccc; }
    /* line 34, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .xb-user-info-content {
      padding-left: 30px;
      float: left;
      height: 40px;
      line-height: 40px; }
    /* line 40, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .change-info {
      font-size: 12px;
      color: #ccc;
      margin-left: 20px;
      line-height: 40px;
      cursor: pointer; }
    /* line 47, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item input {
      line-height: 20px;
      margin: 10px 20px;
      display: none; }
  /* line 53, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-info-save {
    display: none;
    margin-bottom: 20px;
    width: 100px;
    padding: 8px 0;
    line-height: 14px;
    text-align: center;
    background: linear-gradient(to bottom, #FFCA00, #FFA900);
    border: 1px solid #FF9D00; }
    /* line 62, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-save:hover {
      color: #fff;
      box-shadow: 1px 1px 3px #49525c; }
    /* line 66, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-save:active {
      box-shadow: 0 0 3px 2px #FF9D00 inset; }
  /* line 71, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-task-watch {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20px; }
    /* line 75, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-task-watch .xb-user-task-nav {
      font-size: 14px;
      text-align: center;
      display: inline-block;
      color: #49525c; }
      /* line 81, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-nav .xb-user-task-item {
        cursor: pointer;
        float: left;
        line-height: 40px;
        height: 40px;
        width: 10em;
        box-sizing: border-box;
        opacity: 0.7;
        transition: opacity 0.15s ease 0s, color 0.15s ease 0s, border-bottom-width 0.15s ease 0s, color 0.15s ease 0s;
        color: inherit; }
        /* line 92, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-nav .xb-user-task-item:hover {
          opacity: 1; }
        /* line 96, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-nav .xb-user-task-item.active {
          opacity: 1;
          border-bottom: 3px solid #49525c; }
    /* line 103, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-task-watch .xb-user-task-list {
      margin: 15px auto 0;
      text-align: left;
      display: none;
      width: 960px; }
      /* line 109, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-list li {
        line-height: 40px;
        height: 40px;
        border-top: 1px solid #ccc; }
        /* line 115, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-list li span {
          display: inline-block; }
        /* line 120, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-time {
          width: 200px;
          padding-left: 20px; }
        /* line 125, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-name {
          color: #49525c;
          width: 400px;
          padding-left: 20px;
          border-left: 1px solid #ccc; }
          /* line 131, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
          .task-name:hover {
            text-decoration: underline; }
        /* line 136, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-state {
          width: 200px;
          padding-left: 20px;
          border-left: 1px solid #ccc; }
      /* line 145, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-list.selected {
        display: block; }

/*# sourceMappingURL=user.css.map */