/* line 6, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
.xb-user {
  box-sizing: border-box;
  margin: 80px auto 20px;
  width: 960px;
  min-height: 600px; }
  /* line 11, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user .xb-user-info {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }
  /* line 17, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-info-item {
    padding-left: 20px;
    display: block;
    height: 40px;
    color: #49525c;
    text-align: left;
    border-bottom: 1px solid #ccc; }
    /* line 24, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item:last-child {
      border-bottom: none; }
    /* line 27, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .xb-user-info-label {
      width: 100px;
      float: left;
      height: 40px;
      line-height: 36px;
      border-right: 1px solid #ccc; }
      /* line 33, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-info-item .xb-user-info-label i {
        position: relative;
        font-weight: 500;
        font-size: 1.5em;
        margin-right: 5px;
        color: #504646; }
    /* line 41, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .xb-user-info-content {
      padding-left: 30px;
      float: left;
      height: 40px;
      line-height: 40px; }
    /* line 47, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .change-info {
      font-size: 12px;
      color: #ccc;
      margin-left: 20px;
      line-height: 40px;
      cursor: pointer; }
    /* line 54, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item .errorMsg {
      margin-top: 10px;
      text-align: left;
      color: rgba(255, 0, 0, 0.85);
      font-size: 13px;
      height: 20px; }
    /* line 61, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item input[type=number] {
      -webkit-appearance: none !important;
      -moz-appearance: textfield;
      width: 50px; }
    /* line 66, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item input {
      line-height: 20px;
      margin: 6px 20px;
      padding: 2px 0 2px 5px;
      border-radius: 4px;
      border: 1px solid #999;
      color: #49525c;
      font-size: 14px;
      display: none; }
      /* line 75, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-info-item input:focus {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset; }
    /* line 79, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-item select {
      line-height: 20px;
      margin: 9px 20px;
      padding: 2px 0 2px 5px;
      display: none; }
  /* line 86, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-info-save {
    display: none;
    margin-bottom: 20px;
    width: 100px;
    padding: 8px 0;
    line-height: 14px;
    text-align: center;
    background: -webkit-linear-gradient(top, #FFCA00, #FFA900);
    background: linear-gradient(to bottom, #FFCA00, #FFA900);
    border: 1px solid #FF9D00; }
    /* line 95, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-save:hover {
      color: #fff;
      box-shadow: 1px 1px 3px #49525c; }
    /* line 99, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-info-save:active {
      box-shadow: 0 0 3px 2px #FF9D00 inset; }
  /* line 103, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .xb-user-task-watch {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20px; }
    /* line 107, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-task-watch .xb-user-task-nav {
      font-size: 14px;
      text-align: center;
      display: inline-block;
      color: #49525c; }
      /* line 112, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-nav .xb-user-task-item {
        cursor: pointer;
        float: left;
        line-height: 40px;
        height: 40px;
        width: 10em;
        box-sizing: border-box;
        opacity: 0.7;
        -webkit-transition: opacity 0.15s ease 0s, color 0.15s ease 0s, border-bottom-width 0.15s ease 0s, color 0.15s ease 0s;
        transition: opacity 0.15s ease 0s, color 0.15s ease 0s, border-bottom-width 0.15s ease 0s, color 0.15s ease 0s;
        color: inherit; }
        /* line 122, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-nav .xb-user-task-item:hover {
          opacity: 1; }
        /* line 125, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-nav .xb-user-task-item.active {
          opacity: 1;
          border-bottom: 3px solid #49525c; }
    /* line 131, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .xb-user-task-watch .xb-user-task-list {
      margin: 15px auto 0;
      text-align: left;
      display: none;
      width: 960px; }
      /* line 136, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-list li {
        line-height: 40px;
        height: 40px;
        border-top: 1px solid #ccc; }
        /* line 140, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .xb-user-task-watch .xb-user-task-list li span {
          display: inline-block; }
        /* line 144, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-time {
          width: 200px;
          padding-left: 20px; }
        /* line 148, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-name {
          color: #222;
          width: 400px;
          padding-left: 20px;
          border-left: 1px solid #ccc; }
          /* line 153, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
          .task-name:hover {
            text-decoration: underline; }
        /* line 157, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .task-state {
          width: 200px;
          padding-left: 20px;
          border-left: 1px solid #ccc; }
      /* line 164, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .xb-user-task-watch .xb-user-task-list.selected {
        display: block; }

/* line 172, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
.xb-send-message {
  background: transparent -webkit-linear-gradient(top, #FFCA00, #FFA900) repeat scroll 0 0;
  background: transparent linear-gradient(to bottom, #FFCA00, #FFA900) repeat scroll 0 0;
  border: 1px solid #FF9D00;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 4px 10px;
  text-align: center;
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -480px; }

/* line 189, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
.send-message-modal {
  display: none;
  z-index: 99;
  width: 400px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: -350px;
  margin-left: -200px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 6px;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4); }
  /* line 203, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .modal-title {
    background: transparent -webkit-linear-gradient(top, #FFCA00, #FFA900) repeat scroll 0 0;
    background: transparent linear-gradient(to bottom, #FFCA00, #FFA900) repeat scroll 0 0;
    border: 1px solid #FF9D00;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 14px;
    padding: 10px 15px;
    position: relative;
    color: #fff; }
    /* line 212, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .modal-title .modal-title-text {
      font-size: 15px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
    /* line 217, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .modal-title .modal-close {
      float: right;
      font-size: 20px;
      margin-top: -2px;
      cursor: pointer; }
  /* line 224, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
  .modal-content {
    margin-top: 10px;
    padding-left: 15px; }
    /* line 227, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
    .modal-content .send-message-form {
      display: block; }
      /* line 229, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .modal-content .send-message-form label {
        font-size: 15px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        display: block;
        margin: 8px 5px; }
      /* line 236, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .modal-content .send-message-form input,
      .modal-content .send-message-form textarea {
        padding: 4px 0 4px 5px;
        border-radius: 4px;
        border: 1px solid #999;
        box-sizing: border-box;
        color: #49525c;
        font-size: 12px;
        line-height: 16px;
        margin-left: 5px;
        width: 320px; }
        /* line 246, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
        .modal-content .send-message-form input:focus,
        .modal-content .send-message-form textarea:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset; }
      /* line 250, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .modal-content .send-message-form textarea {
        height: 100px;
        resize: none; }
      /* line 254, E:/Program Test/JAVA/helpyouJFinal/WebRoot/css/user.scss */
      .modal-content .send-message-form button {
        background: transparent -webkit-linear-gradient(top, #FFCA00, #FFA900) repeat scroll 0 0;
        background: transparent linear-gradient(to bottom, #FFCA00, #FFA900) repeat scroll 0 0;
        border: 1px solid #FF9D00;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
        color: #fff !important;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
        padding: 4px 10px;
        text-align: center;
        display: block;
        margin-top: 10px;
        margin-left: 5px; }